-- wifi ssid creds
WIFI_CONFIG={}
WIFI_CONFIG.ssid="mynetwork"
WIFI_CONFIG.pwd="$uper5ecretP@ssw0rd"

-- mqtt creds
MQTT_HOST = "192.168.1.10"
MQTT_PORT = 1883
MQTT_USER = "node"
MQTT_PASS = "password"
MQTT_CLIENT_ID = "node1"
